*{
    margin: 0;
}

.header-left img{
   height: 40px;
}

.user-avatar{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 45px;
}


.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position:sticky;
    top: 0;
    background-color: #ffff;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.input-headder{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 20px;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

.input-headder input{
    border: none;
    outline-width: 0;
    background-color: transparent;

}

.header-middle{
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
}
.header-opion .material-icons{
    color: gray;
    font-size: xx-large;
}
.header-opion:hover .material-icons{
   color: #2e81f4;
}

.header-opion{
    display: flex;
    padding: 0 30px;
    cursor: pointer;
}

.header-opion .material-icons.active{
    color: #2e81f4;
}

.header-opion .active{
    border-bottom: 4px solid #2e81f4;
}

.header-opion:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header-right{
    display: flex;
    align-items: center;
}
.header-info{
    display: flex;
    align-items: center;
    padding: 10px;
}
.header-info h4{
    padding: 10px;
}
.header-right .material-icons{
  color: gray;
  margin: 0 10px;
  cursor: pointer;
}

/* sidebar */
.sidebar-row{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

}

.sidebar-row:hover{
    background-color: #a3bfda;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar-row h4{
    font-weight: 600;
    margin-left: 20px;
}
.sidebar-row .material-icons{
    font-size:xx-large;
    color: #2e81f4;
}
/* story */
 
.story{
     position: relative;
     background-repeat: no-repeat;
     background-size: cover;
     width: 120px !important;
     height: 200px !important;
     box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     margin-right: 10px;
     cursor: pointer;
     transition: transform  100ms ease-in;
     -webkit-transition: transform  100ms ease-in;
     -moz-transition: transform  100ms ease-in;
     -ms-transition: transform  100ms ease-in;
     -o-transition: transform  100ms ease-in;
}

.story:hover{
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
}

.story-avatar{
    margin: 10px;
}

.story h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffff;
}

.story-reel{
    display: flex;
    padding: 10px 0;
}

.main-body{
    display: flex;
}

body{
    background-color: #f1f2f5;
}

.feed{
    flex: 1;
    padding: 30px 100px;
}

/* mesagesender */

.mesagesender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 5px 7px rgba(114, 111, 111, 0.75);
}

.mesagesender-top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.mesagesender-top form{
    flex: 1;
    display: flex;
}
.mesagesender-top input{
     flex: 1;
     outline-width: 0;
     border: none;
     padding: 15px 20px;
     margin: 0 10px;
     border-radius:999px ;
     -webkit-border-radius:999px ;
     -moz-border-radius:999px ;
     -ms-border-radius:999px ;
     -o-border-radius:999px ;
     background-color: #eff2f5;
}
.mesagesender-bottom{
    display: flex;
    justify-content: space-evenly;
}

.mesagesender-option{
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}
.mesagesender-option h3{
    font-size: medium;
    margin-left: 10px;

}
.mesagesender-option:hover{
  cursor: pointer;
  background-color: #f1f2f5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* post */

.post{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #ffff;
    box-shadow: 0px 5px 7px rgba(110, 108, 108, 0.75);
}

.post-image img{
    width: 100%;
}

.post-top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;


}
.post-avatar{
    margin-right: 10px;

}

.post-top-info h3{
    font-size: medium;

}
.post-top-info p{
    font-size: small;
    color: gray;

}
.post-bottom{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}

.post-options{
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}
.post-option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
   
}
.post-option p,.pp{
   padding: 0;
    margin: 0;

}
.post-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}